body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.header {
  border: 1px solid black;
  height: 35px;
  background-color: black;
}

.header-navigation-bar {
  list-style: none;
  color: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 6px;
}

.main {
  border: 1px solid black;
  height: 500px;
}

.footer {
  border: 1px solid black;
  height: 50px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
